<html>
    <head>
        <title>用户信息表</title>
    </head>
        <body>
            <a href="/reg">注册新用户</a><br><br>
            <table border="1">
                <tr>
                    <td>用户id</td>
                    <td>用户名</td>
                    <td>性别</td>
                    <td>手机号</td>
                    <td>email</td>
                    <td>注册时间</td>
                    <td>操作</td>
                </tr>
                {% for v in user %}
                    <tr>
                        <td>{{ v.id }}</td>
                        <td>{{ v.username }}</td>
                        <td>{{ v.sex }}</td>
                        <td>{{ v.telephone }}</td>
                        <td>{{ v.email }}</td>
                        <td>{{ v.add_time}}</td>
                        <td>
                            <a href="/user_modify/{{ v.id }}/">修改</a>
                            <a href="/user_del/{{ v.id }}/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </body>

</html>